<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">"Wat is er nieuw" helper</div>
        <div class="description">
            De "wat is nieuw" pagina laat alle activiteiten (zoals berichten, likes, foto's etc.) van alle gebruikers zien in chronologische volgorde.
            U kunt filteren op de activiteiten van de contacten in uw netwerk, door te klikken op "laat alleen activiteiten van mijn contacten zien".
            U kunt in SPOD - net als bij andere sociale netwerken - berichten plaatsen en reageren op berichten van anderen. Het grootste verschil dat
            u aan uw bericht een "datalet" kunt toevoegen. Een datalet is een visualisatie van een open dataset. U kunt ervoor kiezen om een nieuwe datalet
            toe te voegen of een datalet te hergebruiken uit uw persoonlijke ruimte (Mijn ruimte).
            Hoe kunt u een datalet aan een bericht toevoegen?
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_posting_datalet_nl.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-title">
                            Kies: datalet toevoegen
                        </div>
                    </div>
                    <div>
                        Door op het icon Datalet toevoegen te klikken kunt u een nieuwe datalet maken en toevoegen aan uw bericht.
                        Iedereen kan, ook zonder technische expertise, een visualisatie van een dataset maken en delen,
                        door een paar simpele stappen in onze wizard te volgen.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator1_nl.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">1. Wizard eerste stap: selecteer de dataset</div>
                    </div>
                    <div>
                        De eerste stap van de wizard is het selecteren van de datset van een compatibele aanbieder.
                        Er zijn drie manieren om een dataset te kiezen (met een oplopende complexiteit):
                        <ul class="cell-list">
                            <li>De dataset kan geselecteerd worden uit een doorzoekbare keuzelijkst van beschikbare datasets van een van de aan het platform verbonden data aanbieders.</li>
                            <li>De dataset kan geselecteerd worden .</li>
                            <li>De dataset kan handmatig toegevoegd worden als URL (voor gevorderde gebruikers).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator2_nl.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Wizard stap 2: selecteer welke velden u wilt laten zien</div>
                    </div>
                    <div>
                        Wanneer u een dataset heeft geselecteerd, gaat u naar stap twee (gebruik de pijl rechts bovenaan) om de velden te selecteren.
                        Links vindt u welke velden beschikbaar zijn. Terwijl u de velden selecteert ziet u een voorbeeld van de data rechts in de tabel.
                        Bent u klaar met het selecteren van de velden, dan kunt u door naar stap 3 door de pijl rechts bovenaan te gebruiken. U kunt altijd
                        terug naar de vorige stap door op de pijl links bovenaan te klikken.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator3_nl.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Wizard stap 3: selecteer de visualisatie</div>
                    </div>
                    <div>
                        Er zijn verschillende grafieken beschikbaar. U vindt ze aan de linkerkant in een lijst met de naam, type en een beschrijving
                        van de invoer en instellingen van elke grafiek. Wanneer een grafiek geselecteerd is, kiest u uit de geselecteerde velden uit
                        de vorige stap de input die nodig is voor de grafiek. U kunt de grafiek verder aanpassen door het geven van een naam, labels
                        en een beschrijving. Er wordt bij elke verandering een nieuw voorbeeld laten zien van de grafiek, zodat u precies ziet wat het
                        effect is van wat u doet. Als u tevreden bent, kunt u de datalet toevoegen aan uw bericht door te klikken op "toevoegen".
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_post_datalet.png" style="width: 40%; height: 40%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-title">U kunt ook Datalets posten wanneer u een antwoord plaatst</div>
                    </div>
                    <div>
                        Dezelfde functie is beschikbaar wanneer de gebruiker antwoord geeft met een comment. Gebruik simpelweg hezelfde kleine pictogram als in het figuur hiernaast.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-title">Datalets afkomstig van "My Space"</div>
                    </div>
                    <div>
                        U kunt de datalets uit "My space"hergebruiken. Door te klikken op het getoonde pictogram verschijnt
                        een pop-up scherm met alle datalets waaruit u kunt kiezen.
                    </div>
                </div>
            </div>
            <img src="{$staticResourcesUrl}images/whatsnew_posting_from_my_space_nl.png" style="width: 40%; height: 40%;">
            <img src="{$staticResourcesUrl}images/whatsnew_post_my_space_nl.png" style="width: 40%; height: 40%;">
            <img src="{$staticResourcesUrl}images/whatsnew_privateroom_datalet.png" style="width: 40%; height: 40%;">
        </div>

    </div>

</div>
