<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">What's New helper</div>
        <div class="description">
            <b>What's new</b> page shows all the activities (e.g. posts, likes, photos etc...) to everybody chronologically ordered
            even for users that are not my friends and it provides  a switch between the activities of all the users and only
            the friends in the network, clicking on button, named  <b>Show only my friends' activities</b>.
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_posting_datalet.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Post an OpenData visualization</div>
                    </div>
                    <div>
                        By Datalet button (circled in Figure.) near the post creation control, you can create new posts attaching an OpenData visualization(<b>Datalet</b>).
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator1.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Create a visualization</div>
                    </div>
                    <div>
                        Everyone can, without technical expertise, create and share visualisation of a chosen dataset with few simply steps using the wizard . The wizard assist the user step-by-step through the creation (or modification) of a datalet.
                        The first step is the dataset selection (to not to be confused with datalet) from a compatible provider. There are three methods the user can choose a dataset:

                        <ul class="cell-list">
                            <li>
                                It can be selected from a searchable drop-down list of datasets available from one of the associated data providers.
                            </li>
                            <li>
                                It can be selected while exploring interactively the datasets available from associated data providers using a treemap.
                            </li>
                            <li>
                                It can be manually entered as a URL.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator2.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Fields selection</div>
                    </div>
                    <div>
                        Once the user chose a dataset, he proceed to the second step: fields selection. The controllet downloads the dataset in a compatible format (for instance: JSON),
                        parses it and builds a treeview (a hierarchical list) of fields found in the dataset. The user can select the fields he wants to include into the datalet and
                        then proceeds to the last step. A preview of the data related to the selected fields will be shown on the table on the right side.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_datalet_creator3.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Select visualization</div>
                    </div>
                    <div>
                        In the final step the user has to setup the chart. The Wizard obtains the list of charts, also including name,
                        type and description of inputs and settings supported by each chart. The user must select, for each input required by the chart,
                        a corresponding field from the set he selected in step two. Optionally, the user can customize the chart by changing the settings
                        (e.g. he can set a title and a comment for the graph, put labels on the axes, and so on). While the user makes changes to the inputs or the settings,
                        the Wizard updates the chart preview. When the user is satisfied with the look of the chart, he clicks the "Add" button.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/whatsnew_post_datalet.png" style="width: 40%; height: 40%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">5</div>
                        <div class="section-title">Post visualization in a comment</div>
                    </div>
                    <div>
                        The same feature is available when the user replies with a comment.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">6</div>
                        <div class="section-title">Use MySpace contents</div>
                    </div>
                    <div>
                        An user can post a Datalet previously created in the <b>MySpace</b> by using the related button.
                    </div>
                </div>
            </div>
            <img src="{$staticResourcesUrl}images/whatsnew_posting_from_my_space.png" style="width: 40%; height: 40%;">
            <img src="{$staticResourcesUrl}images/whatsnew_post_my_space.png" style="width: 40%; height: 40%;">
            <img src="{$staticResourcesUrl}images/whatsnew_privateroom_datalet.png" style="width: 40%; height: 40%;">
        </div>

    </div>

</div>
