<style>
    #scroll_content{
        position: relative;
        overflow: auto;
    }
    div.cell{
        padding: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
        position: relative;
        left: 40px;
    }

    li{
        margin-left: 20px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
    }
</style>

<h2>SPOD helper</h2>

<p>
    This is the Helper for <b>SPOD</b>(<b>S</b>ocial <b>P</b>latform for <b>O</b>pen<b>D</b>ata) platform.
    The main objective of SPOD is to improve comprehension and increase accessibility of Open Data and,
    by favouring social collaboration through a citizen-friendly environment, stimulate and foster comprehension of Open Data,
    increase Transparency and proactively generate interest around Open Data.
</p>

<div id="scroll_content cell">
    <div class="horizontal layout">
      <iframe src="{$staticResourcesUrl}pages/spod_manual/TestingManual_20160119_v1.0.htm"
              style="height: 48vh;"></iframe>
    </div>
</div>
