<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body * {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .floatbox_bottom{
        display: none;
    }

    .helper_title {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
    }

    .helper_description{
        height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #E3F2FD;
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 8px;
    }
</style>

<div class="helper_content">

    <div>
        <div class="helper_title">Assistance SPOD <span>(for a complete manual please click <a href="http://spod.routetopa.eu/Manual/SPODManualCurrentVersion.pdf" target="_blank" class="manual_link">here</a>)</span></div>
        <div class="helper_description">
            Ceci est l'assistance de la plateforme <b>SPOD</b> (<b>S</b>ocial <b>P</b>latform for <b>O</b>pen<b>D</b>ata : Plateforme Social d&eacute;volue &agrave; la donn&eacute;e ouverte).
            L'objectif principal du SPOD est de faciliter la compr&eacute;hension des donn&eacute;es ouvertes, d'optimiser
            leur accessibilit&eacute; et enfin d'augmenter la transparence de la vie politique en favorisant l'exploitation
            collective de ces donn&eacute;es au sein d'un environnement convivial, intuitif, qui permet de stimuler l'int&eacute;
            ret et la cr&eacute;ativit&eacute; dans le secteur de l'Open Data.
        </div>
    </div>

</div>

<iframe src="{$staticResourcesUrl}pages/spod_manual/SPODHelperv0.1.html" style="height: calc(100% - 144px)"></iframe>

