<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body * {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .floatbox_bottom{
        display: none;
    }

    .helper_title {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
    }

    .helper_description{
        height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #E3F2FD;
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 8px;
    }
</style>

<div class="helper_content">

    <div>
        <div class="helper_title">SPOD Helper <span>(for a complete manual please click <a href="http://spod.routetopa.eu/Manual/SPODManualCurrentVersion.pdf" target="_blank" class="manual_link">here</a>)</span></div>
        <div class="helper_description">
            Questo &egrave; l&#x2019;Helper della piattaforma <b>SPOD</b>(<b>S</b>ocial <b>P</b>latform for <b>O</b>pen<b>D</b>ata).Il principale obiettivo di SPOD &egrave;
            quello di aumentare la comprensione e l&#x2019;accessibilit&agrave; in merito agli OpenData, facilitando la collaborazione sociale attraverso
            un ambiente semplice che possa stimolare e favorire la comprensione degli Open Data, incrementando la Trasparenza e generando attivamente interesse intorno a questi ultimi.
        </div>
    </div>

</div>

<iframe src="{$staticResourcesUrl}pages/spod_manual/SPODHelperv0.1.html" style="height: calc(100% - 144px)"></iframe>

