<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body * {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .floatbox_bottom{
        display: none;
    }

    .helper_title {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
    }

    .helper_description{
        height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #E3F2FD;
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 8px;
    }
</style>

<div class="helper_content">

    <div>
        <div class="helper_title">SPOD Helper <span>(for a complete manual please click <a href="http://spod.routetopa.eu/Manual/SPODManualCurrentVersion.pdf" target="_blank" class="manual_link">here</a>)</span></div>
        <div class="helper_description">
            Het belangrijkste doel van <b>SPOD</b>(<b>S</b>ocial <b>P</b>latform for <b>O</b>pen<b>D</b>ata) is om toegang tot en begrip van open data te vergroten, alsmede door het stimuleren van sociale
            interactie en samenwerking rondom open data, transparantie en interesse in open data te vergroten.
        </div>
    </div>

</div>

<iframe src="{$staticResourcesUrl}pages/spod_manual/SPODHelperv0.1.html" style="height: calc(100% - 144px)"></iframe>

