{script}
{literal}

/*ComponentService.deep_url = ODE.deep_url;
ComponentService.getComponent({
    component   : "data-sevc-controllet",
    params      :
        {
        'deep-url'          : ODE.deep_url,
        'datalets-list-url' : ODE.deep_datalet_list,
        'organization'      : ODE.organization
        },
    fields     : Array(),
    placeHolder : "ode_controllet_placeholder_float"
});*/

{/literal}
{/script}

<!--<div id="ode_controllet_placeholder_float" style="">
</div>-->

<!-- CROSS BROWSER FIX -->
<iframe id="ode_controllet_iframe_placeholder" src="ow_static/plugins/ode/pages/sevc.html" height="100%" width="100%"/>
