{script}
{literal}

ComponentService.deep_url = ODE.deep_url;
ComponentService.getComponent({
    component   : "data-sevc-controllet",
    params      :
        {
        'data-url'          : "",
        'deep-url'          : ODE.deep_url,
        'datalets-list-url' : ODE.deep_datalet_list
        },
    fields     : Array(),
    placeHolder : "ode_controllet_placeholder_test"
});

{/literal}
{/script}

<div id="ode_controllet_placeholder_test" style="position:relative; z-index:2000">
</div>
