{form name='settings'}
<table class="ow_table_1 ow_form ow_automargin">
    <tr class="ow_alt1">
        <td class="ow_value">DEEP URL</td>
        <td class="ow_value">{input name='deep_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DEEP DATALET LIST</td>
        <td class="ow_value">{input name='deep_datalet_list'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DEEP CLIENT</td>
        <td class="ow_value">{input name='deep_client'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">OPEN DATA PROVIDER</td>
        <td class="ow_value">{input name='od_provider'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">ORGANIZATION</td>
        <td class="ow_value">{input name='organization'}</td>
    </tr>
    <tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}